.contacts {
  padding: 57px 103px 60px 120px;
  border-top: 1px solid #74819c;

  @media (max-width: $tablet-width) {
    padding: 60px 133px 64px;
    border: 0;
  }

  @media (max-width: $mobile-width) {
    padding: 70px 15px 64px;
  }
}

.contacts__title {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 54px;
  line-height: 64px;
  letter-spacing: 1.62px;
  margin: 0 0 37px;

  @media (max-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: 1.26px;
  }

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: 26px;
    letter-spacing: 0.96px;
    margin-bottom: 40px;
  }
}

.contacts__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 170px 110px;
  gap: 14px 120px;
  margin-left: 3px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 218px 142px;
    gap: 21px 96px;
    margin-left: 0;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 290px;
    gap: 21px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 231px;
    width: 1px;
    height: 102px;
    background-color: #74819c;

    @media (max-width: $tablet-width) {
      top: 8px;
      left: 266px;
      height: 129px;
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}

.contacts__block--phone {
  @media (max-width: $mobile-width) {
    grid-row: 3 / 4;
  }
}

.contacts__subtitle {
  margin: 0 0 4px;

  @media (max-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.contacts__text {
  margin: 0;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 27px;
  }
}

.contacts__link {
  font-size: 14px;
  line-height: 21px;
  user-select: none;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 27px;
  }
}
